build/
venv/
libtorch-shared-with-deps-latest/
libtorch-shared-with-deps-latest.zip
Video_Codec_SDK_11.1.5/
ffmpeg/
videos/
__pycache__
Video_Codec_SDK_11.0.10.tar.xz
*.trt
*.onxx
session/
github_push.txt
