################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/bin
/docs/_build/html
/PyNvCodec/html
/PyNvCodec/latex
